* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background: url('./img/bg.png');
  background-size: contain;
}

.logo-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  height: 50%;
}

.logo img {
  width: 100%;
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.text img {
  width: 80%;
}

.js .anime {
  opacity: 0;
  transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
  opacity: 1;
  transform: translate3D(0px, 0px, 0px);
  transition: 0.3s all ease;
}

.box {
  width: 600px;
  border-radius: 5px;
  margin: 0 auto 20px auto;
}

.box img {
  width: 100%;
}

section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
